
  <div class="field">
    <%= f.label :strain_id, 'Select a strain' %>
    <%= f.select :strain_id, options_for_select(@strains)%>
  </div>

  <div class= 'field'>
    <%= f.label :percent %>
    <%= f.range_field :percent%>
  </div>





