
	<% if current_user.admin %>
		<div>
			<strong>First we create a strain --->  </strong><%= link_to 'New Strain', new_strain_path %> <br>
			<strong> Then we create a wine assembly ---> </strong> <%= link_to 'New Wine', new_wine_path %> <br>
		</div>
	<% end %>

	<% if user_signed_in? %>
		<strong> Sign out here ---> </strong> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> <br>
	<% end %>
			